* {
    margin: 0;
    padding: 0;
    color: white;
}



header {
    width: 100%;
    height: 10vh;
    background-color: #027e93;
}
h4 {
    padding: 1.5rem;
}

h1 {
    padding: 1rem;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-around;
}

.section1 {
    background: white;
}
.section_main_miniimg{
    width: 100px;
}