* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 98, 255, 0.45);
}

h4 {
    padding: 1.5rem;
}

h1 {
    padding: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

.main {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.section1 {
    background: #3a3a3a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.home_list p {
    text-align: center;
}

.home_list {
    width: 100%;
    height: 600px;
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-around;
}

.home_list_img {
    width: 150px;
    height: 150px;
    /*background-color: #3a3a3a;*/
}

.home_list_img img {
    width: 153px;
}

.section1_box_list {
    width: 100%;
    height: 150px;
    background-color: deepskyblue;
    margin-top: 5px;
}

.food_list {
    width: 100%;
    height: 1230px;
    background-color: #3a3a3a;
}

.food_list_mini {
    width: 1330px;
    height: 1220px;
    margin: 10px;
    /*background-color: deepskyblue;*/
    display: flex;
    flex-wrap: wrap;
}

.food_list_mini_box {
    width: 250px;
    height: 220px;
    background-color: green;
    margin: 41px;
    transition: 1s;
    border-radius: 20px;
}

.food_list_mini_box:hover {
    box-shadow: 3px 3px 3px 3px #52ead8;
    transition: 1s;
}
/*clothes*/
.clothes_list {
    width: 100%;
    height: 1230px;
    background-color: #3a3a3a;
}

.clothes_list_mini {
    width: 1330px;
    height: 1220px;
    margin: 10px;
    /*background-color: deepskyblue;*/
    display: flex;
    flex-wrap: wrap;
}

.clothes_list_mini_box {
    width: 250px;
    height: 220px;
    background-color: green;
    margin: 41px;
    transition: 1s;
    border-radius: 20px;
}

.clothes_list_mini_box:hover {
    box-shadow: 3px 3px 3px 3px #52ead8;
    transition: 1s;
}
/*techniques*/

.techniques_list {
    width: 100%;
    height: 1230px;
    background-color: #3a3a3a;
}

.techniques_list_mini {
    width: 1330px;
    height: 1220px;
    margin: 10px;
    /*background-color: deepskyblue;*/
    display: flex;
    flex-wrap: wrap;
}

.techniques_list_mini_box {
    width: 250px;
    height: 220px;
    background-color: green;
    margin: 41px;
    transition: 1s;
    border-radius: 20px;
}

.techniques_list_mini_box:hover {
    box-shadow: 3px 3px 3px 3px #52ead8;
    transition: 1s;
}