* {
    margin: 0;
    padding: 0;
    color: white;
}

button {
    border-radius: 20px;
    background-color: #ffffff00;
    backdrop-filter: blur(6px);
    width: 240px;
    height: 22px;
    margin: 5px;
    margin-top: 158px;
    border: groove;
}

.absolute_text {
    text-align: center;
}

.absolute_text:hover {
    color: black;
    font-family: cursive;
}

header {
    width: 100%;
    height: 10vh;
    background-color: darkgoldenrod;
}

h4 {
    padding: 1.5rem;
}

h1 {
    padding: 1rem;
}

h1:hover {
    color: black;
    font-family: cursive;
}


a {
    text-decoration: none;
}

a:hover {
    color: black;
    font-family: cursive;
}

.main {
    display: flex;
    justify-content: space-around;
}

section {
    background: #c9a242;
    height: 950px;
}

.icon img {
    width: 500px;
    height: 500px;
}

.icon2 img {
    width: 300px;

     animation-name: run;

}

.icon2 img:hover {
    animation-name: run;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}


.icon2 img:hover {

}

.icon2 {
    display: flex;
    flex-direction: column;
}

.bigdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes run {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*food*/
.food_list {
    width: 100%;
    height: 1230px;
    background-color: #c9a242;
}

.food_list_mini {
    width: 1330px;
    height: 1220px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.food_list_mini_box {
    width: 250px;
    height: 220px;
    background-color: green;
    margin: 41px;
    transition: 1s;
    border-radius: 20px;
}

.food_list_mini_box:hover {
    box-shadow: 3px 3px 3px 3px #52ead8;
    transition: 1s;
}


.food_list_mini_box p {
    text-align: center;
}

.food_list_mini_box{
    animation-name: food1;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.food_list_mini_box:first-child {
    background: url("https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(2) {
    background: url("https://images.pexels.com/photos/4661985/pexels-photo-4661985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(3) {
    background: url("https://images.pexels.com/photos/1351238/pexels-photo-1351238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(4) {
    background: url("https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(5) {
    background: url("https://images.pexels.com/photos/10489231/pexels-photo-10489231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(6) {
    background: url("https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(7) {
    background: url("https://images.pexels.com/photos/2119758/pexels-photo-2119758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(8) {
    background: url("https://images.pexels.com/photos/1633525/pexels-photo-1633525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(9) {
    background: url("https://images.pexels.com/photos/2955819/pexels-photo-2955819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(10) {
    background: url("https://images.pexels.com/photos/6543757/pexels-photo-6543757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(11) {
    background: url("https://images.pexels.com/photos/4871174/pexels-photo-4871174.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(12) {
    background: url("https://images.pexels.com/photos/9283102/pexels-photo-9283102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(13) {
    background: url("https://images.pexels.com/photos/3026804/pexels-photo-3026804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(14) {
    background: url("https://images.pexels.com/photos/4421616/pexels-photo-4421616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(15) {
    background: url("https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.food_list_mini_box:nth-child(16) {
    background: url("https://images.pexels.com/photos/12407065/pexels-photo-12407065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}


/*clothes*/
.clothes_list {
    width: 100%;
    height: 1230px;
    background-color: #3a3a3a;
}

.clothes_list_mini {
    width: 1330px;
    height: 1220px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.clothes_list_mini_box {
    width: 250px;
    height: 220px;
    background-color: green;
    margin: 41px;
    transition: 1s;
    border-radius: 20px;
}

.clothes_list_mini_box:hover {
    box-shadow: 3px 3px 3px 3px #52ead8;
    transition: 1s;
}

/*techniques*/

.techniques_list {
    width: 100%;
    height: 1230px;
    background-color: #3a3a3a;
}

.techniques_list_mini {
    width: 1330px;
    height: 1220px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.techniques_list_mini_box {
    width: 250px;
    height: 220px;
    background-color: green;
    margin: 41px;
    transition: 1s;
    border-radius: 20px;
}

.techniques_list_mini_box:hover {
    box-shadow: 3px 3px 3px 3px #52ead8;
    transition: 1s;
}
.techniques{
    width: 1200px;
    height: 400px;
    background: darkgoldenrod;
    position: relative;
    overflow: hidden;
}
.big{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.from{
    display: flex;
    animation-name: top1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    overflow: hidden;
}


/*packet*/
.packet_list img {
    width: 300px;
    
}
@keyframes top1 {
    from{
        margin-left: 1200px;
        color: blueviolet;
    }
    to{
        margin-left: 0;
    }
}
@keyframes food1 {
    from{
        margin-left: 1330px;
    }
    to{
        margin-left: 30px;
    }
}


.top_brands {
    width: 1200px;
    height: 400px;
    background: darkgoldenrod;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.top_brands h1 {
    color: #e57e5f;
    animation-name: margin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes margin {
    from {
        margin-left: 1000px;
        color: darkred;
    }
    to {
        margin-left: 0;
        color: darksalmon;
    }
}

.c_l {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box1 {
    width: 200px;
    height: 300px;
    background: #c9a242;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: 3s;
    border-radius: 10px;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box1 img {
    position: absolute;
    width: 150px;
    height: 200px;
    top: -600px;
    border-radius: 10px;
    transition: 1s;
}

.box1:hover.box1 img {
    top: 0;
    margin-top: 40px;
    transition: 1s;
}
.box1 button{
    width: 100px;
    height: 30px;
    background: darkgoldenrod;
    margin-top: 170px;
    position: absolute;
    top: 600px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
     transition: 1s;
}
.box1:hover.box1 button{
    top: 80px;
}
button:hover{
    width: 90px;
    height: 20px;
    padding: 5px;
}
.box1 h5{
    color: darkred;
    top: 0;
    margin-left: 600px;
    overflow: hidden;
    transition: 3s;
    position: absolute;
}
.box1:hover.box1 h5{
    margin-left: 0;
}
/*techniques*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t_ch{
    width: 1200px;
    height: 400px;
    background: #e57e5f;
    border-radius: 10px;
}
.v_r img{
    width: 30px;
    height: 30px;
}
.v_r{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.v_1{
    width: 200px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
.t_v{
    display: flex;
    justify-content: space-around;
}
.t_v h4{
    color: #3a3a3a;
}
.t_v h5{
    color: #3a3a3a;
    position: absolute;
    transition: 3s;
    margin-left: 600px;
    top: 0;
}
.v_1 img{
    position: absolute;
    width: 180px;
    height: 120px;
    top: -600px;
    transition: 1s;
}
.v_1:hover.v_1 img{
    top: 100px;
}
.v_1:hover.v_1 h5{
    margin-left: 0;
}
.t_v button{
    width: 100px;
    height: 30px;
    background: black;
    border-radius: 5px;
    top: 600px;
    transition: 1s;
    position: absolute;
}
.v_1:hover.v_1 button{
    top: 230px
}



@keyframes run {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.techniques{
    width: 1200px;
    height: 400px;
    background: darkgoldenrod;
    position: relative;
    overflow: hidden;
}
.big{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.from{
    display: flex;
    animation-name: top1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    overflow: hidden;
}
@keyframes top1 {
    from{
        margin-left: 1200px;
        color: blueviolet;
    }
    to{
        margin-left: 0;
    }
}



