{% extends 'main.html' %}

{% block text %}
    Clothes
{% endblock %}
{% block body %}
    <div class="c_l">
        <div class="top_brands">
            <h1>Top brands</h1>
            <div class="boxes">
                <div class="box1">
                    <h5>$125</h5>
                    <h4>Nike</h4>
                    <img src="https://apollo-olx.cdnvideo.ru/v1/files/3p4aed5pj9af1-UZ/image;s=1158x1280" alt="">
                    <button>BUY!</button>
                </div>
                <div class="box1">
                    <h5>$125</h5>
                    <h4>GUCCI</h4>
                    <img src="https://images.shafastatic.net/150907900" alt="">
                    <button>BUY!</button>
                </div>
                <div class="box1">
                    <h5>$125</h5>
                    <h4>JORDAN</h4>
                    <img src="https://apollo-olx.cdnvideo.ru/v1/files/xr9oqz9pf6yn-UZ/image;s=1191x1280" alt="">
                    <button>BUY!</button>
                </div>
                <div class="box1">
                    <h5>$125</h5>
                    <h4>VERSACE</h4>
                    <img src="https://images.prom.ua/3629371221_w700_h500_muzhskoj-sportivnyj-kostyum.jpg" alt="">
                    <button>BUY!</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}