{% extends 'main.html' %}

{% block text %}
    Clothes
{% endblock %}
{% block body %}
     <div class="clothes_list">
        <div class="clothes_list_mini">
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
            <div class="clothes_list_mini_box"></div>
        </div>
    </div>
{% endblock %}