{% extends 'main.html' %}

{% block text %}
    Food
{% endblock %}
{% block body %}
    <div class="food_list">
        <div class="food_list_mini">
            <div class="food_list_mini_box"></div>
            <div class="food_list_mini_box"></div>
            <div class="food_list_mini_box"></div>
            <div class="food_list_mini_box"></div>
            <div class="food_list_mini_box"></div>
            <div class="food_list_mini_box"></div>
            <div class="food_list_mini_box"></div>
        </div>
    </div>
{% endblock %}