{% extends 'main.html' %}

{% block text %}

{% endblock %}
{% block body %}
    <div class="main_container">
        <div class="main_img">
            <img class="m_img" src="../static/img/depositphotos_284248278-stock-photo-shopping-cart-toy-gifts-large.jpg" alt="">
        </div>
        <div class="main_footer">
            <h1>Shopping</h1>
            <p>Да, мы любим наше дело и заказывая товары у нас, вы делаете правильный выбор!
                Мы анализируем тысячи товарных предложений от других продавцов и гарантируем самые низкие цены на
                товары, постоянные акции и спецпредложения. Подпишитесь на них и мы будем ценах на рынке.</p>
            <button>More</button>
        </div>
    </div>
{% endblock %}