{% extends 'main.html' %}

{% block text %}

{% endblock %}
{% block body %}
<section class="section">
    <div class="bigdiv">
        <div class="icon">
            <img src="../static/icons/shopify-brands.svg" alt="">
        </div>
        <div class="icon2">
            <img src="https://www.dynadot.com/domain/logo/shop-logo1483672083.png" alt="">
        </div>
    </div>

</section>
{#<section class="section2">#}
{#<div class="section2_list">#}
{#    <h1>You can find us here</h1>#}
{#</div>#}
{#<div class="section2_list">#}
{#    <img src="../templates/icons/map-location-dot-solid.svg" alt="">#}
{#</div>#}
{##}
{#</section>#}
{% endblock %}