{% extends 'main.html' %}

{% block text %}

{% endblock %}
{% block body %}
    <section class="section">
        <div class="section_main">
            <div class="section_main_mini">
                <img src="../img/shop_home.jpg" alt="">
            </div>
            <div class="section_main_mini">
                <h1>Shopping</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus eaque ipsam maxime
                    necessitatibus nihil nisi perferendis quos vero voluptas?</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis earum enim esse et fugit
                    harum hic illum in iste itaque laborum nam necessitatibus nemo nesciunt nihil
                    odio placeat porro quaerat quis reiciendis repudiandae rerum sed, suscipit, tenetur ut veritatis voluptas?</span>
            </div>
        </div>
    </section>
{% endblock %}