<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping</title>
    <link rel="stylesheet" href="../static/sass/main/main.min.css">
</head>
<body>
<header>
    <div class="main">
        <h1>Shopping</h1>
        <h4><a href="{{ url_for('home') }}">Home</a></h4>
        <h4><a href="{{ url_for('food') }}">Food</a></h4>
        <h4><a href="{{ url_for('clothes') }}">Clothes</a></h4>
        <h4><a href="{{ url_for('techniques') }}">Techniques</a></h4>
        <h4><a href="{{ url_for('packet') }}">Packet</a></h4>
    </div>
</header>
    {% block body %}

    {% endblock %}
</body>
</html>