{% extends 'main.html' %}

{% block text %}

{% endblock %}
{% block body %}
    <div class="packet_menu">
        <h1>Packet</h1>
    </div>
    <div class="big_div">
        <div class="packet">
            <div class="packet_orders">
                <h4>Orders</h4>
                <div class="chz"></div>
            </div>
            <div class="packet_container">
                <div class="packet_container_balance">
                    <h5>Balance</h5>
                    <div class="chz2"></div>
                </div>
                <div class="packet_container_expenses">
                    <h5>Expeses</h5>
                    <div class="chz2"></div>
                </div>
            </div>
        </div>
        <div class="packet2">
            <div class="packet2_facts">
                <input class="packet2_facts_number" type="text">
                <div class="packet2_facts_variants">
                    <img src="https://clipartcraft.com/images/credit-card-logo-visa.png" alt="">
                    <img src="https://alistore.uz/vendor/site/img/uzcard.png" alt="">
                    <img src="https://multichange.net/res/exchangebox/uploads/ps/ps-humo.png" alt="">
                </div>
            </div>
            <div class="packet2_cards">
                <h5>My cards</h5>
                <div class="chz2"></div>
            </div>
        </div>
    </div>
{% endblock %}