{% extends 'main.html' %}

{% block text %}
    Techniques
{% endblock %}
{% block body %}
    <div class="container">
        <div class="t_ch">
            <div class="variants">
                <div class="v_r">
                    <img src="../static/icons/tv-solid.svg" alt="">
                    <p>Tv</p>
                </div>
                <div class="t_v">
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>L&G</h4>
                        <img src="https://www.lg.com/uz_ru/images/televisions/md07537515/gallery/medium01.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Samsung</h4>
                        <img src="https://www.lg.com/uz_ru/images/televisions/md07537515/gallery/medium01.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h4>Artel</h4>
                        <img src="" alt="">

                    </div>
                    <div class="v_1">
                        <h4>Acer</h4>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}