{% extends 'main.html' %}

{% block text %}
{% endblock %}
{% block body %}

    <div class="container">
        <div class="t_ch">
            <div class="variants">
                <div class="v_r">
                    <img src="../static/icons/tv-solid.svg" alt="">
                    <p>Tv</p>
                </div>
                <div class="t_v">
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>L&G</h4>
                        <img src="https://www.lg.com/uz_ru/images/televisions/md07537515/gallery/medium01.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Samsung</h4>
                        <img src="https://images.samsung.com/is/image/samsung/uz-ru-uhd-tu8500-ue55tu8500uxce-rperspectiveblack-239865413?$720_576_PNG$" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Artel</h4>
                        <img src="https://skymarket.ua/image/cache/catalog/televizory/ARTEL/%D0%A2%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%20ARTEL%20TV%20LED_1-800x800.jpg" alt="">
                        <button>Buy!</button>

                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Acer</h4>
                        <img src="https://i.gadgets360cdn.com/products/large/A1L3jsRwSLL.-SL1500-800x514-1633208419.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                </div>
            </div>
        </div>


    <div class="t_ch">
            <div class="variants">
                <div class="v_r">
                    <img src="../static/icons/mobile-screen-button-solid.svg" alt="">
                    <p>Phone</p>
                </div>
                <div class="t_v">
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Iphone</h4>
                        <img src="https://www.mediapark.uz/upload/file/mp/products/images/rU9FoSZPlxbJXfvUsa_ztB3YoPt_7xtz.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Samsung</h4>
                        <img src="https://www.notebookcheck.net/fileadmin/Notebooks/Samsung/Galaxy_A53/4_zu_3_Samsung_Galaxy_A53.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Redmi</h4>
                        <img src="https://openshop.uz/uploads/products/photos/202203/Y2B2QJMQElJJa3oUUvZbmaaxWUMVWNTbUesCrNG4.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                    <div class="v_1">
                        <h5>$400</h5>
                        <h4>Honor</h4>
                        <img src="https://www.ixbt.com/img/r30/00/02/52/27/kven.jpg" alt="">
                        <button>Buy!</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}