{% extends 'main.html' %}

{% block text %}
    Techniques
{% endblock %}
{% block body %}
     <div class="techniques_list">
        <div class="techniques_list_mini">
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
            <div class="techniques_list_mini_box"></div>
        </div>
    </div>
{% endblock %}